.ig-b- {
  display: inline-block;

  img {
    visibility: hidden;
  }

  &:hover {
    background-position: 0 -60px;
    border: 0;
  }

  &:active {
    background-position: 0 -120px;
  }
}

.ig-b-16 {
  width: 16px;
  height: 16px;
  background: url(http://badges.instagram.com/static/images/ig-badge-sprite-16.png) no-repeat 0 0;

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    background-image: url(http://badges.instagram.com/static/images/ig-badge-sprite-16@2x.png);
    background-size: 60px 178px;
  }
}
