<section class="home">
  <h2>Hello</h2>
  <p>I'm a software engineer living in San Francisco. I work as a freelancer. You can <a href="http://hire.soff.es" rel="external nofollow">hire me</a>. Most of my days are spent writing Objective-C and Ruby. In my free time, I work on a few products at <a href="http://nothingmagical.com" rel="external nofollow">Nothing Magical</a>. If you're curious, find out <a href="/about">more about me</a>.</p>

  <h2>Apps</h2>
  <p>I started developing for iOS the day the SDK was released way back in 2008. Here are some of the best apps I've worked on. I'm no longer involved in the development of several of these since some belong to previous employers.</p>

  <ul class="apps">
    <li>
      <a href="https://itunes.apple.com/app/bible/id282935706" rel="external nofollow" title="Bible">
        <img src="/assets/bible.jpg" alt="Bible">
        <span>Bible</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/x3watch/id337170101" rel="external nofollow" title="For the record, I didn't make this hilariously bad icon.">
        <img src="/assets/x3watch.jpg" alt="X3watch">
        <span>X3watch</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/hipstamatic/id342115564" rel="external nofollow" title="Hipstamatic">
        <img src="/assets/hipstamatic.jpg" alt="Hipstamatic">
        <span>Hipstamatic</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/incredibooth/id378754705" rel="external nofollow" title="IncrediBooth">
        <img src="/assets/incredibooth.jpg" alt="IncrediBooth">
        <span>IncrediBooth</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/shares-2/id717510981" rel="external nofollow" title="Shares">
        <img src="/assets/shares.jpg" alt="Shares">
        <span>Shares</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/cheddar/id524382948" rel="external nofollow" title="Cheddar">
        <img src="/assets/cheddar.jpg" alt="Cheddar">
        <span>Cheddar</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/seesaw-for-iphone/id579804370" rel="external nofollow" title="Seesaw">
        <img src="/assets/seesaw.jpg" alt="Seesaw">
        <span>Seesaw</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/roon/id634949849" rel="external nofollow" title="Roon">
        <img src="/assets/roon.jpg" alt="Roon">
        <span>Roon</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/everlapse/id658120886" rel="external nofollow" title="Everlapse">
        <img src="/assets/everlapse.jpg" alt="Everlapse">
        <span>Everlapse</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/over/id535811906" rel="external nofollow" title="Over">
        <img src="/assets/over.jpg" alt="Over">
        <span>Over</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/cape-town-love/id704402892" rel="external nofollow" title="Cape Town Love">
        <img src="/assets/capetownlove.jpg" alt="Cape Town Love">
        <span>Cape Town</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/obaby/id738877924" rel="external nofollow" title="Obaby">
        <img src="/assets/obaby.jpg" alt="Obaby">
        <span>Obaby</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/id787299853" rel="external nofollow" title="Coins">
        <img src="/assets/coins.jpg" alt="Coins">
        <span>Coins</span>
      </a>
    </li>
    <li>
      <a href="http://fullpackage.co" rel="external nofollow" title="Full Package">
        <img src="/assets/app.svg" alt="Your App">
        <span>Your App</span>
      </a>
    </li>
  </ul>

  <h2>Current Projects</h2>
  <p>I'm constantly hacking on random stuff. Here's a few recent highlights:</p>
  <ul class="list">
    <li><a href="http://thebutton.co" rel="external nofollow">Button</a> &mdash; A physical Wi-Fi button</li>
    <li><a href="http://getsharesapp.com" rel="external nofollow">Shares</a> &mdash; A simple iPhone app for stocks</li>
    <li><a href="https://roon.io" rel="external nofollow">Roon</a> &mdash; The easiest way to blog</li>
    <li><a href="https://github.com/soffes/lagunitas" rel="external nofollow">Lagunitas</a> &mdash; A Ruby gem for inspecting iOS IPAs</li>
    <li><a href="https://github.com/soffes/sonos" rel="external nofollow">Sonos</a> &mdash; Control Sonos speakers with Ruby</li>
  </ul>

  <p>Check out the full list of my open source projects <a href="https://github.com/soffes" rel="external nofollow">on GitHub</a> or head over to my little <a href="/projects">projects page</a>.</p>

  <% if @post && @post.length > 0 %>
  <h2>Latest Writing</h2>
  <article>
    <h3><a href="<%= @post['url'] %>"><%= @post['title'] %></a></h3>
    <%= @post['excerpt_html'] %>
    <p><a href="<%= @post['url'] %>">Continue Reading &rarr;</a></p>
  </article>
  <% end %>

  <% if instagram = $redis['instagram'] %>
  <div class="instagram four-up">
    <ul>
    <% JSON(instagram).each do |image| %>
      <li>
        <a href="<%= image['link'] %>" rel="external nofollow" title="<%= image['caption'] ? image['caption']['text'] : nil %>">
          <img src="<%= image['images']['low_resolution']['url'] %>" alt="<%= image['caption'] ? image['caption']['text'] : nil %>">
        </a>
      </li>
    <% end %>
    </ul>
    <p>
      <a href="http://instagram.com/soffes?ref=badge" class="ig-b- ig-b-16"><img src="http://badges.instagram.com/static/images/ig-badge-16.png" alt="Instagram"></a>
      <a href="http://instagram.com/soffes" rel="external nofollow">Follow @soffes</a>
    </p>
  </div>
  <% end %>

  <% if rdio = $redis['rdio_heavy_rotation'] %>
  <div class="rdio four-up">
    <ul>
    <% JSON(rdio).each do |album| %>
      <li>
        <a href="<%= album['url'] %>" rel="external nofollow" title="<%= album['name'] %> — <%= album['artist'] %>">
          <img src="<%= album['icon'] %>" alt="<%= album['name'] %> — <%= album['artist'] %>">
        </a>
      </li>
    <% end %>
    </ul>
    <p>
      <a href="http://rdio.com/people/soffes" rel="external nofollow"></a> <a href="http://rdio.com/people/soffes" rel="external nofollow">Follow soffes</a>
    </p>
  </div>
  <% end %>

  <p style="text-align:center;margin:2em 0 -1em"><a href="https://twitter.com/soffes" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @soffes</a></p>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>
