<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title = yield_content(:title); (title && !title.empty? ? title : 'Sam Soffes') %></title>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/619254/777982/css/fonts.css">
  <link href="/assets/application.css" rel="stylesheet">
  <link rel="apple-touch-icon-precomposed" href="http://assets.samsoff.es/images/apple-touch-icon.png">
  <link rel="me" href="http://www.google.com/profiles/samsoffes">
  <link rel="author" type="text/plain" href="/humans.txt">
  <link rel="alternate" type="application/atom+xml" href="http://sam.roon.io/feed">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:site_name" content="soff.es">
  <%= yield_content :head %>
</head>
<body>
  <header>
    <h1><a href="/" rel="home">Hi, I’m Sam</a></h1>
  </header>
  <%= yield %>
  <footer>
    <ul>
      <li><a href="/music">Music</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="http://sam.roon.io/" rel="external nofollow">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <p>© <%= Time.now.year %> <a href="/" rel="home">Sam Soffes</a></p>
  </footer>
  <script src="/assets/application.js"></script>
  <% if ENV['RACK_ENV'] == 'production' %>
  <script>var _gauges=_gauges||[];(function(){var t=document.createElement('script');t.async=true;t.id='gauges-tracker';t.setAttribute('data-site-id','526ae7fdf5a1f5031e00011a');t.src='//secure.gaug.es/track.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(t,s);})();</script>
  <% end %>
  <%= yield_content :javascripts %>
</body>
</html>
