<section class="projects">
  <h3>Projects</h3>

  <div class="row-wide" id="project-cheddar">
    <a href="https://cheddarapp.com" rel="external nofollow" class="title">Cheddar &mdash; Tasks made simple.</a>
    <a href="https://cheddarapp.com" rel="external nofollow" class="screenshot">Cheddar for iPhone Screenshot</a>
  </div>
  <div class="row-wide" id="project-shares">
    <a href="http://getsharesapp.com" rel="external nofollow" class="title">Shares &mdash; Your gains, at a glance</a>
    <a href="http://getsharesapp.com" rel="external nofollow" class="screenshot">Shares for iPhone Screenshot</a>
  </div>
  <div class="row">
    <div id="project-nothing-magical">
      <a href="http://nothingmagical.com" rel="external nofollow">Nothing Magical</a>
    </div>
    <div id="project-sstoolkit">
      <a href="http://sstoolk.it" rel="external nofollow">SSToolkit</a>
    </div>
  </div>
  <div class="row">
    <div id="project-markdownr">
      <a href="http://markdownr.com" rel="external nofollow">Markdownr</a>
    </div>
    <div id="project-awful-recruiters">
      <a href="http://awfulrecruiters.com" rel="external nofollow"><span>Awful</span> <span>Recruiters</span></a>
    </div>
  </div>

  <% if @pods %>
  <h3>Cocoa Pods</h3>
  <ul class="repos">
    <% @pods.each do |lib| %>
    <li>
      <h4>
        <img src="/assets/cocoapods.svg">
        <a href="<%= lib['url'] %>" rel="external nofollow"><%= lib['name'] %></a>
        <a class="stars" href="<%= lib['url'] %>/stargazers" rel="external nofollow" title="<%= format_number(lib['stars']) %> Stars"><img src="/assets/star.svg"> <%= format_number(lib['stars']) %></a>
        <a class="forks" href="<%= lib['url'] %>/network" rel="external nofollow" title="<%= format_number(lib['forks']) %> Forks"><img src="/assets/branch.svg"><%= format_number(lib['forks']) %></a>
      </h4>
      <p><%= lib['description'] %></p>
    </li>
    <% end %>
  </ul>
  <% end %>

  <% if @gems %>
  <h3>Ruby Gems</h3>
  <ul class="repos">
    <% @gems.each do |lib| %>
    <li>
      <h4>
        <img src="/assets/ruby.svg">
        <a href="<%= lib['url'] %>" rel="external nofollow"><%= lib['name'] %></a>
        <a class="stars" href="<%= lib['url'] %>/stargazers" rel="external nofollow" title="<%= format_number(lib['stars']) %> Stars"><img src="/assets/star.svg"> <%= format_number(lib['stars']) %></a>
        <a class="forks" href="<%= lib['url'] %>/network" rel="external nofollow" title="<%= format_number(lib['forks']) %> Forks"><img src="/assets/branch.svg"><%= format_number(lib['forks']) %></a>
        <!-- <a class="downloads" href="https://rubygems.org/gems/<%= lib['name'] %>" rel="external nofollow" title="<%= format_number(lib['downloads']) %> Downloads"><img src="/assets/ruby.svg"> <%= format_number(lib['downloads']) %></a> -->
      </h4>
      <p><%= lib['description'] %></p>
    </li>
    <% end %>
  </ul>
  <% end %>

  <p>Check out the full list of my open source projects <a href="https://github.com/soffes" rel="external nofollow">on GitHub</a>.</p>
  <p style="text-align:center;margin:2em 0 -1em"><a href="https://twitter.com/soffes" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @soffes</a></p>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>
