@import "bourbon";

@mixin bordered-image {
  display: block;
  border: 5px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  background: #fff no-repeat;

  &:hover {
    box-shadow: rgba(0, 0, 0, 1.0) 0 0 3px;
  }
}

@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
