section.about {
  a.portrait {
    @include bordered-image;
    float: left;
    width: 300px;
    height: 300px;
    margin: 0.5em 1em 0.5em 0;

    img {
      width: 300px;
      height: 300px;
    }

    @media #{$small-query} {
      border-width: 0;
    }
  }
}
