@import "bourbon";

section.music {
  margin-bottom: 1em;

  ul.tracks {
    margin-bottom: 1em;

    li {
      margin-left: 1em;
      list-style: disc;

      a {
        font-size: 0.8em;
        margin-left: 6px;
      }
    }
  }
}

div.soundcloud-player {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: url(http://assets.samsoff.es/images/dots-white.gif) white no-repeat center;
  width: 235px;
  height: 91px;
  margin: 0.1em 0 0.5em;

  > div:first-child {
    padding: 5px;
  }

  div.waveform {
    display: none;
  }
}

div.soundcloud-player div.playing {
  div.waveform {
    display: block;
    background: #e5e5e5;
    width: 225px;
    height: 81px;
    border: 1px solid #ddd;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }

    div.position, div.loading {
      position: absolute;
      top: 0;
      left: 0;
      height: 81px;
      background: #999;
    }

    div.position {
      background: #000;
    }
  }
}
