@import "bourbon";
@import "globals/*";
@import "components/reset";

// HTML5
section, header, footer, nav, article, aside, figure {
  display: block;
  width: 100%;
}

mark, time, meter, progress {
  display: inline;
}

// Tags
html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: $text-color;
  font-size: 22px;
  font-family: $font-family;
  font-weight: $standard-weight;
  line-height: 1.5em;
  padding: 0 10px;

  @media #{$small-query} {
    font-size: 18px;
    line-height: 1.6em;
  }
}

input {
  line-height: 1em;
}

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover {
    @include transition-property(border);
    @include transition-duration(0.2s);
    border-bottom: 1px solid;
  }
}

strong {
  font-weight: $bold-weight;
  font-style: normal;
}

mark {
  background-color: $highligh-color;
  padding: 0 0.1em;
}

i {
  font-style:italic
}

abbr {
  border-bottom: 1px dashed;
  cursor: help;
}

p {
  margin: 0 0 1.5em;
}

hr {
  margin: 0 auto 2em;
  border: 0;
  border-bottom: 1px solid #ddd;
  width: 60%;
}

blockquote {
  border-left: 5px solid #ddd;
  color: #888;
  margin: 0 0 1em;
  padding-left: 1em;

  a {
    color: #444;

    &:hover {
      color: $link-color;
    }
  }
}

small {
  font-size: 0.8em;
  color: #999;
  margin-left: 0.2em;

  a {
    color: #444;

    &:hover {
      color: #2e80d3;
    }
  }
}

h1 {
  color: #000;
  font-size: 3em;
  margin-bottom: 0.5em;
  font-family: 'Landmark Dimensional A', 'Landmark Dimensional B';
  font-weight: 400;
  text-transform: capitalize;
}

body > header h1 {
  a, a:hover {
    color: $red-color;
    border: 0;
  }
}


h2 {
  font-size: 1.3em;
  font-weight: $bold-weight;

  a {
    color: $text-color;
    border: 0;
  }
}

h3 {
  font-weight: $bold-weight;
  color: #999;

  a {
    color: #999;
    border: 0;
  }
}

h4 {
  color: #999;
  font-weight: $bold-weight;
  margin-bottom: 0.2em;
}

// Content
body > header, body > section, body > footer {
  max-width: $width;
  margin: 0 auto;
}

// Header
body > header {
  color: #949494;
  margin: 4em auto;

  p {
    margin: 0;
  }

  @media #{$small-query} {
    margin: 2em auto 3em;

    p:nth-child(2) {
      margin-bottom: 1em;
    }
  }
}

a.hire, a.hire:hover {
  color: $red-color;
}

// Footer
body > footer {
  color: #aaa;
  text-shadow: #fff 0 1px 0;
  font-size: 0.8em;
  text-align: center;
  margin: 3em auto;

  a {
    color: #aaa;

    &:hover {
      color: $link-color;
    }
  }


  li {
    margin-right: 1em;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }
}

// Sections
@import "sections/*";

// Misc
.bordered-image {
  @include bordered-image;
}

a.twitter-username:before {
  content: "@";
}

section.server-error {
  margin-bottom: 3em;
}

span.gray {
  color: #777;
}

ul.list, ol.list {
  margin: 0 0 2em 0.5em;

  li {
    margin-left: 1em;
  }
}

ul.list li {
  list-style: disc;
}

ol.list li {
  list-style: decimal;
}

ol.list li ol li {
  list-style: lower-alpha;
}
