@import "globals/*";

ul.download-slides {
  padding: 0;
  margin: 0 0 1em;
  height: 64px;
  @include clearfix;
  
  li {
    float: left;
    margin: 0 0 0 -9px;
    padding: 0;
    list-style: none;
    width: 64px;
    height: 64px;
  }
  
  a {
    display: block;
    width: 64px;
    height: 64px;
    text-indent: -9009em;
    border: 0;
    background-repeat: no-repeat;
  }
  
  a.pdf {
    background-image: url(http://assets.samsoff.es/images/pdf-64.png);
  }
  
  a.keynote {
    background-image: url(http://assets.samsoff.es/images/keynote-64.png);
  }
}
